@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.header {
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 1rem 2rem;
	width: 100%;
}

.header p {
	font-family: "Inconsolata", monospace;
	font-weight: 700;
	font-size: 1.5rem;
	color: #333333;
}

.main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7.5rem;
}

.main img {
	width: 32rem;
	height: 28rem;
}

.main .content-container {
	font-family: "Space Mono", monospace;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.main .content-container h1 {
	font-weight: 700;
	font-size: 4rem;
	color: #333333;
	margin-bottom: 2.25rem;
	max-width: 600px;
}

.main .content-container p {
	font-weight: 400;
	font-size: 1.5rem;
	color: #4f4f4f;
	max-width: 400px;
	margin-bottom: 4rem;
}

.main .content-container button {
	background-color: #333333;
	color: #ffffff;
	font-weight: 700;
	font-size: 0.875rem;
	padding: 1.5rem 2.5rem;
	cursor: pointer;
	border: 1px solid transparent;
}

.footer {
	font-family: "Montserrat", sans-serif;
	color: #bdbdbd;
	font-weight: 500;
	font-size: 0.875rem;
	padding: 1.5rem 0;
	text-align: center;
}

.footer .userSpan {
	font-weight: 700;
}

@media screen and (max-width: 375px) {
	.main {
		flex-direction: column;
		gap: 2rem;
		padding: 3rem 1.5rem;
	}

	.main .content-container h1 {
		font-size: 2.5rem;
		width: 100%;
	}

	.main .content-container p {
		font-size: 1.125rem;
		width: 100%;
	}

	.main img {
		width: 19.2rem;
		height: 16.8rem;
	}
}
